# Hikvision camera snapshot URL
HIKVISION_HOST=http://<CAMERA_IP>/ISAPI/Streaming/channels/101/picture

# Hikvision camera credentials
HIKVISION_USERNAME=<YOUR_HIKVISION_USERNAME>
HIKVISION_PASSWORD=<YOUR_HIKVISION_PASSWORD>

# InspireFace service endpoint
INSPIREFACE_HOST=http://127.0.0.1:18082/extract-best

# PostgreSQL database connection
DATABASEURL=postgres://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?sslmode=disable